.container {
    margin: 0px 0px 0px 300px;
    color: #ffec5a;
    font-size: 22px;
    padding: 20px 20px 20px 20px;
    min-height: calc(100vh - 40px);
    background-color: #404040;
}

input::placeholder {
    color: #8d854d;
}

button {
    width: 240px;
    height: 42px;
    padding: 8px;
    margin: 14px 30px -4px 30px;
    text-align: center;
    vertical-align: center;
    background-color: #ffec5a;
    border: 0px solid #ccc;
    border-radius: 14px;
    font-size: 22px;
    color: #656565;
}

button:active{
    transform: scale(0.98);
}

input, select, textarea {
    width: calc(100% - 60px);
    height: 54px;
    padding: 8px 12px;
    margin: 8px 30px 8px 30px;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: 22px;
    color: #ffec5a;
    background-color: #656565;
}

textarea {
    min-width: calc(100% - 60px);
    max-width: calc(100% - 60px);
    min-height: 270px!important;
}

.item {
    width: calc(100% - 60px);
    min-height: 54px;
    padding: 8px 12px;
    margin: 8px 30px 8px 30px;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: 26px;
    color: #ffec5a;
    background-color: #656565;
}
.popularItem {
    width: calc(100% - 20px);
    min-height: 30px;
    padding: 8px 12px;
    margin: 4px 10px 4px 10px;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: 16px;
    color: #ffec5a;
    background-color: #404040;
}
.threads {
    margin: 0px 0px 8px 30px!important;
}


.popularThreads {
    margin: 14px 15px -4px 15px!important;
}

.topics {
    margin: 0px 0px 8px 30px!important;
}

.post {
    width: calc(100% - 60px);
    min-height: 54px;
    padding: 8px 12px;
    margin: 8px 30px 8px 30px;
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: 14px;
    color: #ffec5a;
    background-color: #656565;
}

.username {
    font-size: 16px;
    font-weight: bold;
}

.post > .info {
    font-size: 10px;
    margin-left: 16px;
    margin-bottom: 8px;
    font-weight: normal!important;
}

.item > .info {
    font-size: 14px!important;
    font-weight: normal!important;
}

.small-button {
    float: right;
    width: 48px;
    height: 24px;
    padding: 2px;
    margin: 7.5px 5px 0px 10px;
    text-align: center;
    vertical-align: center;
    background-color: #ffec5a;
    border: 0px solid #ccc;
    border-radius: 14px;
    font-size: 12px;
    color: #656565;
}
